# build artifacts
obj/
split
train
predict

# models / outputs
models/
*.log

# generated datasets
data/*
!data/data.csv

# subject file
en.subject.pdf

# settings artifacts
.vscode
.DS_Store

# scripts
evaluation.py